/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: map-get($icon-home, 'width');
}

At the bottom of this section, we provide information about the spritesheet itself
*/

$collapsed-foreground-map: (
keep: (
  name: 'keep',
  x: 0px,
  y: 0px,
  offset-x: 0px,
  offset-y: 0px,
  width: 4px,
  height: 4px,
  total-width: 4px,
  total-height: 4px,
  image: '../images/collapsed-foreground-sprite.png',
  usejpg: false
),
spritesheet: (
  width: 4px,
  height: 4px,
  image: '../images/collapsed-foreground-sprite.png'
)

)



